.message {
    margin: 10px 0;
    &-date {
        span {
            color: #8c8c8c;
            font-size: 12px;
            padding-left: 10px;
        }
    }

    &-body {
        display: flex;

        p {
            margin: 0;
            border-radius: 10px;
            padding: 10px 15px;
            border: 1px solid #c2c2c2;
            max-width: 300px;
        }
    }
}

.message-myself {
    .message-date {
        text-align: end;
        padding-right: 10px;
    }

    .message-body {
        justify-content: flex-end;

        p {
            border: 1px solid #ececec;
            background-color: #ececec;
        }
    }
}