.partner-card {
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.096);
    border: 1px solid #eee;
    max-width: 340px;
    border-radius: 25px;
    opacity: 1;
    transition: all .3s;

    &-photo {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 250px;
        display: flex;
        justify-content: center;
        background-color: rgb(245, 245, 245);

        img {
            height: 250px;
        }
    }

    &-description {
        padding: 5px;
    }
}

.partner-card-swipe-left {
    transform: translate(-400px) rotate(-45deg);
    opacity: 0;
}

.partner-card-swipe-right {
    transform: translate(400px) rotate(45deg);
    opacity: 0;
}

.partner-card-swipe-left {
    transform: translate(-400px) rotate(-45deg);
    opacity: 0;
}

.partner-card-return {
    transform: translate(0) rotate(0deg);
    opacity: 0;
}