
.meetings-calendar {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    // customize react-calendar
    .react-calendar {
        border: none;
        
        .react-calendar__navigation {
            
            button {
                border-radius: 10px;
                min-width: 34px;
            }

            .react-calendar__navigation__label {
                font-size: 14px;
                min-width: 200px;

                .react-calendar__navigation__label__labelText {
                    min-width: 200px;
                }
            }

            .react-calendar__navigation__arrow {
                font-size: 25px;
                color: rgb(139, 139, 139);
            }
        }

        .react-calendar__tile--now {
            background-color: transparent;
        }

        .react-calendar__tile--active {
            background-color: rgb(158, 168, 228);

            &:hover {
                background-color: rgb(158, 168, 228);
            }
        }
        
        .react-calendar__month-view__days {
            
            .react-calendar__tile {
                border-radius: 10px;
                position: relative;
                font-size: 20px;
                overflow: visible !important;

                .meeting-day {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 10px;
                    border: 2px solid rgb(158, 168, 228);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .meetings-count {
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(119, 141, 173);
                        background: rgb(158,168,228);
                        background: linear-gradient(45deg, rgba(158,168,228,1) 0%, rgba(119,141,173,1) 100%);  
                        color: white;
                        font-size: 15px;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
