@import "../../../theme/variables.scss";

.side-menu {
    z-index: 9999;
    background-color: white;
    height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    position: fixed;
    transition: all .3s;
    left: -500px;
    box-shadow: 5px 0 20px #85858548;

    &-items {
        padding-left: 80px;
    }

    &-item {
        list-style-type: none;
        font-size: 20px;
        padding: 15px 0;
        border-bottom: 1px solid $light-gray-border;
    }
}

.side-menu-open {
    left: -60px;
}