@import "../../../theme/variables.scss";

.toggle-radio {
    background-color: $gray-input-bg;
    display: inline-flex;
    padding: 2px 2px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &-item {
        display: block;
        padding: 5px 0px;
        color: black;
        border-radius: 8px;
        width: 100px;
        text-align: center;
        transition: background .3s;
        font-size: 14px;
    }

    &-item-active {
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.123);
    }
}