.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
    left: 0;
    right: 0;
    color: #000;
    background-color: white;
    padding-top: 10px;

    &-title {
        font-size: 25px;
        font-weight: 550;
        display: flex;
    }

    &-back {
        margin-right: 20px;

        img {
            width: 30px;
        }
    }
}