.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    left: 0;
    right: 0;
    color: #000;
    background-color: white;
    padding-top: 10px;

    &-title {
        font-size: 25px;
        font-weight: 550;
    }
}